.player-container {
    margin: 20px;
    border-radius: 30px;
    height: 100vh;
}

.player-header {
    padding: 20px;
    background-color: #283a585c;
    display: flex;
    gap: 20px;
    align-items: end;
    border-radius: 30px;
}

.playlist-img {
    flex-shrink: 0;     /* Prevents the image from shrinking when the container size changes */
    width: 200px;       /* Set a fixed width for the image */
    height: 200px;      /* Set a fixed height for the image */
    overflow: hidden;   /* Ensure that the image doesn't overflow */
    border-radius: 20px; /* Optional: rounding for the image container */
}

.playlist-img img {
    width: 100%;        /* Make the image take full width of the container */
    height: 100%;       /* Ensure it takes the full height of the container */
    object-fit: cover;  /* Crop the image to maintain aspect ratio and cover the container */
    border-radius: 20px; /* Ensure the image itself has rounded corners */
}

.playlist-details {
    margin-left: 20px;
}

.playlist-details h1 {
    margin-top: 0;
}

/* Tracks */

.playlist-content {
    max-height: calc(100vh - 320px); 
    overflow-y: auto; /* Enable scrolling */
    padding-right: 10px; /* Space for scrollbar */
  }

.playlist {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.playlist-header, .track {
    display: grid;
    grid-template-columns: 20px 2fr 50px 2fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
  
.track {
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}
  
.track:hover {
    background-color: #f0f0f02a;
}
  
.play-icon {
    font-size: 18px;
    text-align: center;
}
  
.track img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
  
.track p {
    margin: 0;
    padding: 0;
}
  
.track p:nth-child(2) {
    font-weight: bold;
}