.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 30px;
  opacity: 1;
  background-color: #000306;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at center left, transparent 0, #000306 40px ), repeating-linear-gradient( #1b283855, #1b2838 );
}